.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
inst/doc
luke_scratch/
*.log
*.aux
*.bbl
*.blg
*.synctex.gz
.texpadtmp
simulations/pointwise_similarity_results.rds
Mike’s Notes on Output.docx
rctYEScheck/
MRStdCRT/
clusterRCT drafts etc/
trial_of_MRStdCRT.R
/doc/
/Meta/
